/*
* @Author: jaxQin
* @Date:   2018-03-30 14:08:04
* @Last Modified by:   jaxQin
* @Last Modified time: 2018-03-30 14:34:05
*/

$grey-border: #bcbab6;  //常用于区块的border
$slider-color:    red;  //首页中滑动导航滑块的颜色
$light-color: #80bd01;  //选中状态 高亮状态
$page-bg:     #f4f4f4;  //用于一个页面的背景色


$time:            .2s;  // 一般用于transition 的时间
